
a.navbar-brand {
  background-color: #f5f5f5;
  font-family: 'Abel', sans-serif;
  
}

h1.h1 {
  color: red;
}

div.longer_description{
    margin: 0 auto; 
    width: 100%;
    text-align: center;
    margin-bottom: 16px;
    color: #007bff;
    font-family: 'Abel', sans-serif;

}


h2.shorter_description {
    margin: 0 auto; 
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 32px;
    margin-top: 240px;
    font-family: 'Abel', sans-serif;

}


div.input_container {
    margin-bottom: 120px;
    font-family: 'Abel', sans-serif;
}


body {
  background: url(what-the-hex.png);
  margin-bottom: 60px;
}


#priceDate {
  width:70%;
  height:40%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Abel', sans-serif;
}

h3.product_title {
  width:70%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Abel', sans-serif;
  margin-top: 60px;

}

#amazon_id {
  visibility: hidden;
  font-size: 2px;
}

#min_price {
  width:70%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Abel', sans-serif;

}

.progress {
  height: 3px;
}

.progress-container {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.progress-bar {
  width: 25%;
    -webkit-transition: none !important;
    transition: none !important;
}