<!DOCTYPE html>
<html>
    <head>
        <title>Price data</title>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>
    <body>
        <h1>{{ product['title'] }}</h1>
            <div class="product-div">
                <h3></h3>
                <div id="tester" style="width:900px;height:250px;"></div>
                <script>
                    TESTER = document.getElementById('tester');
                    Plotly.plot( TESTER, [{
                    x: [1, 2, 3, 4, 5],
                    y: [1, 2, 4, 8, 16] }], {
                    margin: { t: 0 } } );
                </script>
                <h3>Largest discount period</h3>
            </div>
    </body>
